name: Release Obsidian plugin

on:
  release:
    types: [published]

jobs:
  build:
    # Ensures this only runs if the release was made from the main branch
    if: github.event.release.target_commitish == 'main' 
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18.x"
          cache: 'npm' # Speeds up subsequent runs

      - name: Build plugin
        run: |
          npm install
          npm run build

      - name: Upload Assets to Existing Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Use upload instead of create
          # --clobber overwrites files if they somehow already exist
          gh release upload ${{ github.event.release.tag_name }} \
            main.js manifest.json styles.css --clobber
